/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */

.inboxScreen {
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow: hidden;
}

.inbox-body {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

.refresh-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

.refresh-button:hover {
  transform: rotate(90deg);
}

body.dark .refresh-button {
  color: var(--text-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px 0;
}

.pagination-top button {
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.pagination-top button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button {
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.inbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination-top {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1em;
  color: #555;
}

.pagination-range {
  min-width: 130px;
  text-align: center;
}